In [3]:
import pandas as pd
import json

In [12]:
with open('/Users/keemsunguk/Projects/EssayGrader/data/toefl_list.json', 'r') as rf:
    toefl_list = json.load(rf)
toefl_df = pd.DataFrame(toefl_list, columns=['essay', 'rating'])

In [13]:
toefl_df['rating'] = toefl_df.apply(lambda x: round(x['rating']), axis=1)

In [14]:
toefl_df['rating'] = toefl_df.apply(lambda x: 1 if x['rating'] == 0 else x['rating'], axis=1)

In [15]:
toefl_df.rating.value_counts()

4    2729
3     737
2     523
5     470
6     133
1      92
Name: rating, dtype: int64

In [16]:
toelf_2 = toefl_df.loc[toefl_df['rating']==2]

In [19]:
toefl_df = toefl_df.append([toelf_2]*4,ignore_index=True)

In [20]:
toefl_df.shape

(6776, 2)

In [22]:
toelf_6 = toefl_df.loc[toefl_df['rating']==6] # 133
toelf_5 = toefl_df.loc[toefl_df['rating']==5] # 470
toelf_3 = toefl_df.loc[toefl_df['rating']==3] # 737
toelf_1 = toefl_df.loc[toefl_df['rating']==1] # 92

In [23]:
toefl_df = toefl_df.append([toelf_6]*10,ignore_index=True)
toefl_df = toefl_df.append([toelf_5]*4,ignore_index=True)
toefl_df = toefl_df.append([toelf_3]*3,ignore_index=True)
toefl_df = toefl_df.append([toelf_1]*20,ignore_index=True)

In [24]:
toefl_df.rating.value_counts()

3    2948
4    2729
2    2615
5    2350
1    1932
6    1463
Name: rating, dtype: int64

In [28]:
toefl_df['rating'] = toefl_df.apply(lambda x: x['rating']-1, axis=1)
toefl_df.rating.value_counts()

2    2948
3    2729
1    2615
4    2350
0    1932
5    1463
Name: rating, dtype: int64

In [29]:
with open('/Users/keemsunguk/Projects/data/toefl_balanced.pkl', 'wb') as wf:
    toefl_df.to_pickle(wf)

In [30]:
with open('/Users/keemsunguk/Projects/data/toefl_balanced.pkl', 'rb') as rf:
    toefl_df = pd.read_pickle(rf)

In [31]:
toefl_df.rating.value_counts()

2    2948
3    2729
1    2615
4    2350
0    1932
5    1463
Name: rating, dtype: int64